<div class="container">

    <div class="jumbotron">
        <h1>Jeopardize</h1>
        <p>Train your brain for Jeopardy!</p>
        <br>
        <h2>Pick a an answer below to get started</h2>
           
    </div><!-- /jumbotron -->
                    
     <div class="row">
        
        <div class="col-sm-2"></div> 
        <div class="col-sm-2"></div> 
        <div class="col-sm-2"></div> 
        <div class="col-sm-2"></div> 
        <div class="col-sm-2"></div> 
        <div class="col-sm-2"></div> 
        </div>              