<div class="jumbotron">
    <h1 class="display-4">Jeopardize</h1>
    <p class="lead">Train your brain to be a Jeopardy juggernaut!</p>
    <hr class="my-4">
    <p>Jeopardize is a Jeopardy participant study app, or daily knowledge enhancer. It comes with a complete database of all questions, that were actually used on the game show. Test yourself, or try on your friends.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Play</a>
</div>
