<div class="container">
    <div class="card" style="width: 41rem;">
        <img src="assets/logo.png" class="card-img-top" alt="logo">
        <div class="card-body">
            {{!-- <h5 class="card-title">Train your brain to be a Jeopardy juggernaut!</h5> --}}
            {{!-- <p class="card-text">Jeopardize is a Jeopardy participant study app, or daily knowledge enhancer. It comes with a complete database of all questions, that were actually used on the game show. Test yourself, or try on your friends.</p> --}}
            <button class="btn btn-light play-btn">Play</button>
            - OR -
            <button class="btn btn-light logout-btn">Log Out</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>


{{!-- <div class="jumbotron">
    <h1 class="display-4">Jeopardize</h1>
    <p class="lead">Train your brain to be a Jeopardy juggernaut!</p>
    <hr class="my-4">
    <p>Jeopardize is a Jeopardy participant study app, or daily knowledge enhancer. It comes with a complete database of
        all questions, that were actually used on the game show.<br>Test yourself, or try on your friends.</p>
    <button class="btn btn-light play-btn">Play</button>
    <button class="btn btn-light logout-btn">Log Out</button>
</div> --}}
