<div class="container">
    <div class="card" style="width: 41rem;">
        <img src="assets/logo.png" class="card-img-top" alt="logo">
        <div class="card-body">
            <button class="btn btn-light play-btn">Play</button>
            - OR -
            <button class="btn btn-light logout-btn">Log Out</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>