<div class="jumbotron">
    <h1 class="display-4">Jeopardize</h1>
    <p class="lead">Train your brain to be a Jeopardy juggernaut!</p>
    <hr class="my-4">
    <p>Jeopardize is a Jeopardy participant study app, or daily knowledge enhancer. It comes with a complete database of
        all questions, that were actually used on the game show.<br>Test yourself, or try on your friends.</p>
    <button class="btn btn-primary btn-lg play-btn">Play</button>
    <button class="btn btn-primary btn-lg logout-btn">Log Out</button>
</div>