<div class="container">
    <div class="card" style="width: 41rem;">
        <img src="assets/logo.png" class="card-img-top" alt="logo">
    </div>
</div>

<div class="container">
    <div id="categories" class="row">

        {{#each category}}
        <div class="col-sm-2">
            <p>{{this}}</p>
        </div>
        {{/each}}

    </div>
    <div id="categories" class="row">
        {{#each questions }}
        <div class="col-sm-2">
            <p> {{value}} </p>
        </div>
        {{/each}}
    </div>

    <script type="text/javascript" src="/js/jeopardyBoard.js"></script>