<div class="jumbotron">
    <h1 class="display-4">Jeopardize</h1>
    <p class="lead">Train your brain for Jeopardy!</p>
    <hr class="my-4">
    <p>Choose a dollar value below to get started.</p>
</div>
<div class="container">
    <div class="row" id="categories">
        <div class="card col-sm-2">
            <div class="card-body">
                Category 1
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 2
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 3
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 4
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 5
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 6
            </div>
        </div>
    </div>    
    <div class="row" id="200questions">
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
    </div>
    <div class="row" id="400questions">
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
    </div>
    <div class="row" id="600questions">
        <div class="card col-sm-2">
            <div class="card-body">
                600
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                600
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                600
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                600
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                600
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                600
            </div>
        </div>
    </div>
    <div class="row" id="800questions">
        <div class="card col-sm-2">
            <div class="card-body">
                800
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                800
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                800
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                800
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                800
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                800
            </div>
        </div>
    </div>
    <div class="row" id="1000questions">
        <div class="card col-sm-2">
            <div class="card-body">
                1000
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                1000
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                1000
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                1000
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                1000
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                1000
            </div>
        </div>
    </div>
</div>