<div class="container">
    <div class="card" style="width: 41rem;">
        <img src="assets/logo.png" class="card-img-top" alt="logo">
        {{!-- <div class="card-body"> --}}
            {{!-- <h5 class="card-title">Train your brain to be a Jeopardy juggernaut!</h5> --}}
            {{!-- <p class="card-text">Jeopardize is a Jeopardy participant study app, or daily knowledge enhancer. It comes with a complete database of all questions, that were actually used on the game show. Test yourself, or try on your friends.</p> --}}
            {{!-- <button class="btn btn-light reset-btn">Reset</button>
            - OR -
            <button class="btn btn-light logout-btn">Log Out</button> --}}
        {{!-- </div> --}}
    </div>
</div>

<div class="container">
    <div id="categories" class="row">
        <div class="col-sm-2">
            ROYAL FEMALE NICKNAMES
        </div>
        <div class="col-sm-2">
            TV ACTORS & ROLES
        </div>
        <div class="col-sm-2">
            TRAVEL & TOURISM
        </div>
        <div class="col-sm-2">
            I LADS
        </div>
        <div class="col-sm-2">
            FOREWORDS
        </div>
        <div class="col-sm-2">
            BACKWORDS
        </div>
    </div>
    <div id="categories" class="row">
        <div class="col-sm-2">
            {{> question }}
        </div>
        <div class="col-sm-2">
            $100
        </div>
        <div class="col-sm-2">
            $100
        </div>
        <div class="col-sm-2">
            $100
        </div>
        <div class="col-sm-2">
            $100
        </div>
        <div class="col-sm-2">
            $100
        </div>
    </div>
    <div id="categories" class="row">
        <div class="col-sm-2">
            $200
        </div>
        <div class="col-sm-2">
            $200
        </div>
        <div class="col-sm-2">
            $200
        </div>
        <div class="col-sm-2">
            $200
        </div>
        <div class="col-sm-2">
            $200
        </div>
        <div class="col-sm-2">
            $200
        </div>
    </div>
    <div id="categories" class="row">
        <div class="col-sm-2">
            $300
        </div>
        <div class="col-sm-2">
            $300
        </div>
        <div class="col-sm-2">
            $300
        </div>
        <div class="col-sm-2">
            $300
        </div>
        <div class="col-sm-2">
            $300
        </div>
        <div class="col-sm-2">
            $300
        </div>
    </div>
    <div id="categories" class="row">
        <div class="col-sm-2">
            $400
        </div>
        <div class="col-sm-2">
            $400
        </div>
        <div class="col-sm-2">
            $400
        </div>
        <div class="col-sm-2">
            $400
        </div>
        <div class="col-sm-2">
            $400
        </div>
        <div class="col-sm-2">
            $400
        </div>
    </div>
    <div id="categories" class="row">
        <div class="col-sm-2">
            $500
        </div>
        <div class="col-sm-2">
            $500
        </div>
        <div class="col-sm-2">
            $500
        </div>
        <div class="col-sm-2">
            $500
        </div>
        <div class="col-sm-2">
            $500
        </div>
        <div class="col-sm-2">
            $500
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jeopardyBoard.js"></script>

    {{!-- <div class="jumbotron">
        <!-- <h1>Jeopardize</h1> -->
        <div class="jeopardizeimg">
            <img src="assets/logo.png" class="logo">
        </div>
        <p>Train your brain for Jeopardy!</p>
        <br>
        <h2>Pick an Answer Below to Get Started</h2>
    </div><!-- /jumbotron --> --}}
{{!-- <div class="container">
    <div class="row" id="categories">
        <div class="card col-sm-2">
            <div class="card-body">
                ROYAL FEMALE NICKNAMES
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                TV ACTORS & ROLES
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                TRAVEL & TOURISM
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                I LADS
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                FOREWORDS
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                BACKWORDS
            </div>
        </div>
    </div>
    <div class="row" id="row1questions">
        <div class="card col-sm-2">
            <div class="card-body">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $100
            </div>
        </div>
    </div>
    <div class="row" id="row2questions">
        <div class="card col-sm-2">
            <div class="card-body">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $200
            </div>
        </div>
    </div>
    <div class="row" id="row3questions">
        <div class="card col-sm-2">
            <div class="card-body">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $300
            </div>
        </div>
    </div>
    <div class="row" id="row4questions">
        <div class="card col-sm-2">
            <div class="card-body">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $400
            </div>
        </div>
    </div>
    <div class="row" id="row5questions">
        <div class="card col-sm-2">
            <div class="card-body">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                $500
            </div>
        </div>
    </div>
    <button class="logout-btn">Log Out</button> --}}