< <div class="container">
    <div class="jumbotron">
        <!-- <h1>Jeopardize</h1> -->
        <div class="jeopardizeimg">
            <img src="assets/logo.png" class="logo">
        </div>
        <p>Train your brain for Jeopardy!</p>
        <br>
        <h2>Pick an Answer Below to Get Started</h2>
    </div><!-- /jumbotron -->
    <div class="row" id="categories">
        <div class="card col-sm-2">
            <div class="card-body">
                Category 1
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 2
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 3
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 4
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 5
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Category 6
            </div>
        </div>
    </div>
    <div class="row twohundred" id="row1questions">
        <div class="card col-sm-2">
            <div class="card-body">
                100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                100
            </div>
        </div>
    </div>
    <div class="row" id="row2questions">
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                200
            </div>
        </div>
    </div>
    <div class="row" id="row3questions">
        <div class="card col-sm-2">
            <div class="card-body">
                300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                300
            </div>
        </div>
    </div>
    <div class="row" id="row4questions">
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                400
            </div>
        </div>
    </div>
    <div class="row" id="row5questions">
        <div class="card col-sm-2">
            <div class="card-body">
                500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                500
            </div>
        </div>
    </div>
    <button class="logout-btn">Log Out</button>