<div class="container">
    <div class="container">
    <div class="card" style="width: 41rem;">
        <img src="assets/logo.png" class="card-img-top" alt="logo">
    </div>
</div>
    <div class="jumbotron">
    </div>
    <form class="answer">
        <div class="form-group">
            <input type="text" id="answer-input" name="user-answer">
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="row" id="categories">
        <div class="card col-sm-2">
            <div class="card-body">
                HISTORY
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                ESPN's TOP 10 ALL-TIME ATHLETES
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                Xs AND Os
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                THE COMPANY LINE
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                3-LETTER WORDS
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body">
                EPITAPHS AND TRIBUTES
            </div>
        </div>
    </div>
    <div class="row twohundred" id="row1questions">
        <div class="card col-sm-2">
            <div class="card-body" data="100" id="firstCat100">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="100" id="secondCat100">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="100" id="thirdCat100">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="100" id="fourthCat100">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="100" id="fifthCat100">
                $100
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="100" id="sixthCat100">
                $100
            </div>
        </div>
    </div>
    <div class="row" id="row2questions">
        <div class="card col-sm-2">
            <div class="card-body" data="200" id="firstCat200">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="200" id="secondCat200">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="200" id="thirdCat200">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="200" id="fourthCat200">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="200" id="fifthCat200">
                $200
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="200" id="sixthCat200">
                200
            </div>
        </div>
    </div>
    <div class="row" id="row3questions">
        <div class="card col-sm-2">
            <div class="card-body" data="300" id="firstCat300">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="300" id="secondCat300">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="300" id="thirdCat300">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="300" id="fourthCat300">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="300" id="fifthCat300">
                $300
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="300" id="sixthCat300">
                $300
            </div>
        </div>
    </div>
    <div class="row" id="row4questions">
        <div class="card col-sm-2">
            <div class="card-body" data="400" id="firstCat400">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="400" id="secondCat400">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="400" id="thirdCat400">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="400" id="fourthCat400">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="400" id="fifthCat400">
                $400
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="400" id="sixthCat400">
                $400
            </div>
        </div>
    </div>
    <div class="row" id="row5questions">
        <div class="card col-sm-2">
            <div class="card-body" data="500" id="firstCat500">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="500" id="secondCat500">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="500" id="thirdCat500">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="500" id="fourthCat500">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="500" id="fifthCat500">
                $500
            </div>
        </div>
        <div class="card col-sm-2">
            <div class="card-body" data="500" id="sixthCat500">
                $500
            </div>
        </div>
    </div>
    <button class="logout-btn">Log Out</button>
    <script src="/js/jeopardyBoard.js"></script>