<h2>Create an Account</h2>
<form class="createAcct">
    <div class="form-group">
        <label for="username-input">Username:</label>
        <input type="text" id="username-input" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
</form>

<script type="text/javascript" src="/js/signup.js"></script>